AIRFLOW_UID=50000

#Update with your connection
DB_USER=postgres_user
DB_PASSWORD=postgres_password
DB_HOST=postgres_host
DB_PORT=5432
DB_NAME=postgres_db
DB_URL=postgresql://postgres_user:postgres_password@postgres_host:5432/postgres_db

#update with data file path
RAW_DATA_PATH="/opt/airflow/data/FMN_DE_Sales_Assessment_Dataset.xlsx"
